@CHARSET "UTF-8";
.ui-dialog { border:8px solid #ccc; background-color:#fff;}
.ui-dialog-titlebar { border-bottom: 2px solid #ccc; padding: 4px; }
.ui-dialog-titlebar a { display: none; }

.onestepcheckout-index-index .ui-widget-overlay {
    position: absolute;
    background: #000;
    opacity: 0.15;
    filter: alpha(opacity=15);
}
.onestepcheckout-index-index .ui-dialog {
    position: absolute;
    font-size: 10px;
    padding: 40px;
    background: #FFF;
}
.onestepcheckout-index-index .ui-dialog .ui-dialog-titlebar {
    margin: 0 4px 20px;
}
.onestepcheckout-index-index .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    text-transform: uppercase;
    font-size: 12px;
}
.onestepcheckout-index-index .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    position: absolute;
    right: 40px;
    top: 40px;
}
.onestepcheckout-index-index .ui-dialog .ui-dialog-buttonpane{
    display: inline-block;
    *display:inline;
    zoom:1;
    position: absolute;
    right: 35px;
    top: 20px;
}

/*.onestepcheckout-index-index .ui-dialog .ui-dialog-buttonpane .ui-button span{
    display: block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
*/
.onestepcheckout-index-index .i4PuntoRecogidaDetails td, .onestepcheckout-index-index .i4PuntoRecogidaDetails tr{
    font: 12px/100% Arial, helvetica, sans-serif !important;
    font-size:100%;
    font-weight: 400;
}



/*
.onestepcheckout-index-index .page-title h1 {
    color: #6D6E71;
    font-weight: normal;
    margin: 10px 0px;
    text-transform: uppercase;
}
*/
.onestepcheckout-index-index select.i4SelectPuntoRecogida {
    width: 270px;
} 

.gomage-checkout-onepage-index select.i4SelectPuntoRecogida {
    width: 100%;
}

select.i4SelectPuntoRecogida.checkitout {
    width: 100%;
}
